@model IEnumerable<Model.EF.Contrator>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ClienCSS{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Access/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}
@section ContenHeader{
    <section class="content-header">
        <h1>
           Chủ đầu tư
        </h1>
        <ol class="breadcrumb">
             <li><a href="~/Project/Create"><i class="fa fa-dashboard"></i> Đăng kí dự án</a></li>
        </ol>
    </section>
}
<div class="box">
    <div class="box-body">
        <p>
            @Html.ActionLink(" Tạo mới ", "Create", "Contrator",null, new { @class = "btn btn-primary" })
        </p>
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ContratorID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContraName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        Thao tác
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr id="row_@item.ID">
                        <td>
                            @Html.DisplayFor(modelItem => item.ContratorID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContraName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @(item.Status == true ? "Kích hoạt" : "Không")
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Chia tiết", "Details", new { id = item.ID }) |

                            @Ajax.ActionLink("Xoá", "Delete", new { id = item.ID }, new AjaxOptions
                       {
                           Confirm = "Bạn có muốn xoá bản ghi này?",
                           OnComplete = "$('#row_" + @item.ID + "').remove()",
                           HttpMethod = "Delete"
                       })
                        </td>
                    </tr>
                }
            </tbody>
      
        </table>
    </div>
</div>
@section FooterClienScript{

    <script>
            $(function () {
                $('#example1').DataTable()

            })
    </script>
}
