@using PTT.Common;
@{
    ViewBag.Title = "Project/Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section ClienCSS{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Access/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/Access/plugins/iCheck/all.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Access/bower_components/select2/dist/css/select2.min.css">

}
@section FooterClienScript{

    <script src="~/Access/js/controller/projectController.js"></script>

    <!-- Select2 -->
    <script src="~/Access/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Access/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/Access/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Access/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="~/Access/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/Access/plugins/iCheck/icheck.min.js"></script>
    <!-- FastClick -->
    <script src="~/Access/bower_components/fastclick/lib/fastclick.js"></script>
    <script>
        $(function () {



            $('#EndCreate').datepicker({
                autoclose: true
            })
            $('.select2').select2()
        })
    </script>
}

@section ContenHeader{
    <section class="content-header">
        <h1>
            Thêm mới nhà cung ứng
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Project/Create"><i class="fa fa-dashboard"></i> Đăng kí dự án</a></li>
        </ol>
    </section>
}
<div class="box">
    <div class="box-body">
        <div class="box box-solid">
            <div class="box-header with-border">
                @{
                    //DateTime sd = ViewBag.Project.StartDate;
                    DateTime sd = Hepper.GetDateServer();
                    DateTime ed = @ViewBag.Project.EndCreate;
                    int numday = Hepper.thisIsMagic(ed.Year, ed.Month, ed.Day) - Hepper.thisIsMagic(sd.Year, sd.Month, sd.Day);
                }
                <h3 class="box-title">Dự án: @ViewBag.Project.Name. Mã dự án: @ViewBag.Project.Code. Dealine: @numday ngày  </h3>
            </div>
            <div class="box-body">
                <a class="btn btn-app class=col-md-3 " href="~/Project/Details/@ViewBag.Project.ProjectID"><i class="fa fa-file-picture-o"></i><b>Hồ sơ dự án</b></a>
                <a class="btn btn-app class=col-md-3" href="~/Process/Index/@ViewBag.Project.ProjectID"><i class="fa fa-building-o"></i><b>Cập nhật tiến độ</b></a>
                <a class="btn btn-app class=col-md-3" href="~/Feedback/Index/@ViewBag.Project.ProjectID"><span class="badge bg-green">@ViewBag.Feedback</span><i class="fa fa-envelope"></i><b>Ý kiến đóng góp</b></a>
                <a class="btn btn-app class=col-md-3" href="~/Project/End/@ViewBag.Project.ProjectID"><i class="fa fa-hourglass-end"></i><b>Kết thúc dự án</b></a>

            </div>
            <!-- /.box-body -->
        </div>
        @using (Html.BeginForm("Edit", "Project", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin dự án</h3>
                </div>
                <div class="box-body">
                    
                    <div class="form-group">
                        <label class="control-label col-md-2">Tên dự án </label>
                        <div class="col-md-10">
                            @Html.TextBox("Name", (string)ViewBag.Project.Name, new { @class = "form-control", @required = "required", @autoforcus = "autoforcus", @placeholder = "Tên dự án" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Quận huyện </label>
                        <div class="col-md-4">
                            @Html.DropDownList("CityID", (SelectList)ViewBag.CityID, new { id = "Cities", @class = "form-control", @placeholder = "Thành phố" })
                        </div>
                        <label class="control-label col-md-2">Thành phố </label>
                        <div class="col-md-4">
                            @Html.DropDownList("DistrictID", (SelectList)ViewBag.DistrictID, new { id = "District", @class = "form-control", @placeholder = "Quận huyện" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Địa chỉ </label>
                        <div class="col-md-10">
                            @Html.TextBox("Address", (string)ViewBag.Project.Address, new { @class = "form-control", @autoforcus = "autoforcus", @placeholder = "Địa chỉ", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Kết thúc khởi tạo </label>
                        <div class="col-md-10">
                            @{ var sEndCreate = ViewBag.Project.EndCreate.ToString("MM/dd/yyyy"); }
                            @Html.TextBox("EndCreate", (string)sEndCreate, new { @class = "form-control", @autoforcus = "autoforcus", id = "EndCreate", @placeholder = "MM/dd/yyyy", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Loại dự án </label>
                        <div class="col-md-2">
                            @Html.DropDownList("CategoryID", (SelectList)ViewBag.CategoryID, new { id = "CategoryID", @class = "form-control", @placeholder = "Loại dự án" })

                        </div>
                        <label class="control-label col-md-2">Nguồn vốn </label>
                        <div class="col-md-2">
                            @Html.DropDownList("ResourceID", (SelectList)ViewBag.ResourceID, new { id = "ResourceID", @class = "form-control", @placeholder = "Nguồn vốn" })
                        </div>
                        <label class="control-label col-md-2">Giá dự án </label>
                        <div class="col-md-2">
                            @Html.DropDownList("PriceID", (SelectList)ViewBag.PriceID, new { id = "PriceID", @class = "form-control", @placeholder = "Giá dự án" })
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="control-label col-md-2">Đăng ký thành viên</label>
                        <div class="col-md-10">
                            @Html.DropDownList("drbMember", (MultiSelectList)ViewBag.Member, new { @class = "form-control select2", @multiple = "multiple", @placeholder = "Thành viên phát triển" })

                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Khu vực nhà cung ứng</label>
                        <div class="col-md-10">
                            @Html.DropDownList("drlCity", (SelectList)ViewBag.CityID, new { id = "drlCity", @class = "form-control", @placeholder = "Thành phố" })
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="drlSupplier" class="control-label col-md-2">Nhà cung ứng</label>
                        <div class="col-md-10">
                            @Html.DropDownList("drlSupplier", (SelectList)ViewBag.Supplier, new { @class = "form-control", @id = "drlSupplier" })
                        </div>
                    </div>
                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title col-md-2">Chủ đầu tư</h3>
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.TextBox("txtContratorID", (string)ViewBag.PrContraCode, new { @class = "form-control", @autoforcus = "autoforcus", @placeholder = "Mã chủ đầu tư", @required = "required" })
                                </div>
                                <button class="btn btn-primary class=col-md-3" type="button" id="btnContraID">Chọn mã..</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div id="contentContrator">@Html.Raw(ViewBag.PrContraDetail)</div>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title col-md-2">Nhà thầu thi công</h3>
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.TextBox("txtBuilder", (string)ViewBag.PrBuiderCode, new { @class = "form-control", @autoforcus = "autoforcus", @placeholder = "Mã chủ thầu", @required = "required" })
                                </div>
                                <button class="btn btn-primary class=col-md-3" type="button" id="btnBuilderID">Chọn mã..</button>
                            </div>
                        </div>
                        <div class="box-body">

                            <div id="contentBuilder">@Html.Raw(ViewBag.BuiderDetail)</div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                   
                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title">ĐỐI THỦ CẠNH TRANH</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="drlCompetitor" class="control-label col-md-2">Đối thủ cạnh tranh:</label>
                                <div class="col-md-6">
                                    @Html.DropDownList("drlCompetitor", (MultiSelectList)ViewBag.Competitor, new { @class = "form-control select2", @multiple = "multiple" })
                                </div>
                            </div>
                            @{

                                foreach (var compe in ViewBag.ListCompetitor)
                                {
                                    var coll = "collapse";
                                    foreach (var prcom in ViewBag.lstProjectCompe)
                                    {
                                        if (compe.ID == prcom.CompetiorID)
                                        {
                                            coll = "";
                                            break;
                                        }
                                    }

                                    var divID = "dv" + compe.ID;
                                    <div class="box box-solid @coll" id="@divID">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">@compe.CompetitorName</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body clearfix">

                                            @{

                                                var j = 0;

                                                foreach (var p in ViewBag.Products)
                                                {

                                                    <div class="col-md-2">
                                                        @{
                                                            var name = "cblProduct" + compe.ID;
                                                            var value = p.ProductID;

                                                            var txtDiscount = "txtDiscount" + compe.ID + "_" + p.ProductID;
                                                            var txtDiscountVAT = "txtDiscountVAT" + compe.ID + "_" + p.ProductID;
                                                            var tile = p.MetaTite;
                                                            var ccChek = false;
                                                            var txtDiscountValue = "";
                                                            var txtDiscountValueVAT = "";
                                                            foreach (var prcompprduct in ViewBag.lstComeProduct)
                                                            {
                                                                if (compe.ID == prcompprduct.CompetiorID && p.ProductID == prcompprduct.ProductID)
                                                                {
                                                                    ccChek = true;
                                                                    txtDiscountValue = prcompprduct.Discount.ToString();
                                                                    txtDiscountValueVAT = prcompprduct.DiscountVAT.ToString();
                                                                }
                                                            }

                                                        }
                                                        <label data-toggle="tooltip" title="@tile">
                                                            <input type="checkbox" value="@value" checked="@ccChek" id="@name" name="@name"> @p.Code
                                                        </label><br />
                                                        <label for="@txtDiscount" class="control-label">CK % ngoài HĐ</label>
                                                        <input type="text"  value="@txtDiscountValue" class="form-control" id="@txtDiscount" name="@txtDiscount" placeholder="">
                                                        <label for="@txtDiscount" class="control-label">CK % trên HĐ</label>
                                                        <input type="text"  value="@txtDiscountValueVAT" class="form-control" id="@txtDiscountVAT" name="@txtDiscountVAT" placeholder="">
                                                    </div>
                                                                j += 1;

                                                            }

                                            }
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                                            }

                            }
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title">SẢN PHẨM NHỰA TIỀN PHONG</h3>
                        </div>
                        <div class="box-body">
                            @{
                                var i = 0;
                                foreach (var p in ViewBag.Products)
                                {



                                    <div class="col-md-2">
                                        @{
                                            var value = p.ProductID;
                                            var txtPrice = "txtPrice" + p.ProductID;
                                            var txtPriceValue = "";
                                            var txtDiscount = "txtDiscount" + p.ProductID;
                                            var txtDiscountVAT = "txtDiscountVAT" + p.ProductID;
                                            var txtDiscountValue = "";
                                            var txtDiscountValueVAT = "";
                                            var tile = p.MetaTite;
                                            var chk = false;
                                            foreach (var prProduct in ViewBag.lstProjectProdut)
                                            {
                                                if (prProduct.ProductID == value)
                                                {
                                                    chk = true;
                                                    txtPriceValue = prProduct.Price.ToString();
                                                    txtDiscountValue = prProduct.Discount.ToString();
                                                    txtDiscountValueVAT = prProduct.DiscountVAT.ToString();
                                                    break;
                                                }

                                            }
                                        }
                                        <label data-toggle="tooltip" title="@tile">
                                            <input type="checkbox" value="@value" checked="@chk" id="cblProduct" name="cblProduct"> @p.Code
                                        </label><br />
                                        <label for="@txtPrice" class="control-label">Giá trị</label>
                                        <input type="text" class="form-control" id="@txtPrice" name="@txtPrice"  value="@txtPriceValue">
                                        <label for="@txtDiscount" class="control-label">CK % ngoài HĐ</label>
                                        <input type="text" value="@txtDiscountValue" class="form-control"  id="@txtDiscount" name="@txtDiscount">
                                        <label for="@txtDiscountVAT" class="control-label">CK %trên HĐ</label>
                                        <input type="text" value="@txtDiscountValueVAT" class="form-control"  id="@txtDiscountVAT" name="@txtDiscountVAT">
                                    </div>
                                                i += 1;

                                            }
                            }
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-10 col-md-2">
                            <input type="submit" value="Ghi lại" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

            </div>
                                                            }

    </div>
</div>
<!-- Modal -->
<div id="ContratorModal" class="modal fade" style="display: none;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chọn chủ đầu tư</h4>
            </div>
            <div class="modal-body">
                @Html.DropDownList("drlContrator", (SelectList)ViewBag.Contrator, new { @class = "form-control" })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ContratorChoice" data-dismiss="modal">Chọn</button>
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Thoát</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="BuilderModal" class="modal fade" style="display: none;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chọn chủ đầu tư</h4>
            </div>
            <div class="modal-body">
                @Html.DropDownList("drlBuilder", (SelectList)ViewBag.Builder, new { @class = "form-control" })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="BuilderChoice" data-dismiss="modal">Chọn</button>
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Thoát</button>
            </div>
        </div>

    </div>
</div>
