@model Model.EF.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ContenHeader{
    <section class="content-header">
        <h1>
            Chi tiết người dùng
        </h1>
        <ol class="breadcrumb">
             <li><a href="~/Project/Create"><i class="fa fa-dashboard"></i> Đăng kí dự án</a></li>
        </ol>
    </section>
}

<div class="box">
    <div class="box-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LockedUser)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LockedUser)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LockedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LockedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LockedReason)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LockedReason)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastLogIn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastLogIn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastChangedPassword)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastChangedPassword)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DeadlineOfUsing)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeadlineOfUsing)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BirthDay)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BirthDay)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

        </dl>
        <div>
            @Html.ActionLink("Sửa", "Edit", new { id = Model.LoginID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Quay lại", "Index", "User", new { @class = "btn btn-primary" })
        </div>
    </div>
</div>